// Place all the styles related to the matching controller here.
// They will automatically be included in application.css.
// You can use Stylus syntax here: http://learnboost.github.io/stylus
.hide
	display none
.hide.display
	display unset
.success
	color green
.error
	color red
.valid
	border-color green
.invalid
	border-color red
