%section
	%h2 About:
	%h3 Autor: Daniel Zorro (@dfoxpro)
	%h3 Technology stock
	%ul
		%li Ruby (on Rails)
		%li Docker(compose)
		%li CoffeScript + Stylus + Haml
		%li TrochaJS
	%h3 Good practices
	%ul
		%li TDD
		%li RESTful server
		%li MVC(vanilla) JS Client
